.pagination11 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-item {
  padding: 5px;
  border: 2px solid black;
  cursor: pointer;
}
.mainFlex {
  display: flex;
}

.page-link{
  color: black;
  textDecoration: none;
}
.page-link.dark{
  color: white;
  text-decoration: none;
}
