#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.cardFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ececec;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
